# app
SUPERADMIN_PASSWORD = "Pa\$\$w0rd"
ACCESS_KEY = "your-access-key-here"
REFRESH_KEY = "your-refresh-key-here"
PORT = 8090

CLOUDFLARED_API_KEY = "your-cloudflared-api-key-with-ZONE-DNS-EDIT-privlages"
ZONE_ID = "id-for-your-zone"
